@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply font-segoe;
  }

  @keyframes valid-input {
    0% {
      border-color: transparent;
    }
    100% {
      border-color: #0067B8;
    }
  }
  
  .valid-input-animation {
    animation: valid-input 0.5s ease-in-out;
  }